* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-warp {
    width: 50%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    border-radius: 5px;
    background: #ccc;
    border: 1px solid #a2a1a1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.menu-box {
    position: absolute;
    display: none;
    list-style: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor:pointer;
    li{
        padding: 10px 10px 10px 10px;
    }
    li:hover {
           background-color: #eebfbf; 
    }
}